* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#start {
  cursor: pointer;
  text-align: center;
  font-size: 24px;
  margin: 20px 20px;
}

#scene {
  width: 800px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.track {
  position: relative;
  width: 100%;
  margin: 10px 0;
  height: 60px;
  border-bottom: 4px dashed white;
}


.car {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0px;
  top: 12px;
  transition: all 300ms linear;
}

.name {
  position: absolute;
  color: white;
  top: 0;
  left: 10px;
}

.winner {
  color: red;
}